html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif ; 
    margin: 4em;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif ;
}

blockquote {
   
    border-left: 3px solid rgb(221,221,221)  ;
    font-style: italic;
    
}

blockquote p {
    margin-left: 2em;
}

.bottomright {
    text-align: right;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead{
    text-align: left;

    background-color: gray;
}

table th, table td{
    border: 1px solid gray;
}

table tbody tr:nth-child(odd){
    background-color: lightgray;
}